.app__booktable {
  display: flex;
  flex-direction: column;
  padding: 6rem 0;
  background-color: #0d0907;
}
.content {
  background-color: var(--color-black);
  padding: 3rem;
  margin: 0 6rem 0 6rem;
  border-radius: 20px;
  box-shadow: 10px 10px 5px black;
}
.app__booktable-heading {
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.app__booktable-inputs {
  /* justify-content: center; */
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4rem;
}
.app__booktable-inputs input {
  font-size: 25px;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
  outline: none;
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-base);
  border: 1px solid var(--color-golden);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1150px) {
  .app__booktable-inputs {
    grid-template-columns: auto;
    gap: 2rem;
  }
  .app__booktable-inputs input {
    font-size: 20px;
    padding: 5px;
    width: 200px;
  }
  .content {
    padding: 2rem;
    margin: 0 3rem 0 3rem;
  }
}
